@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1> 
    <a><img src = "https://cdn.discordapp.com/attachments/933027287182495806/1022968804487217243/unknown.png" width="300"></a>
</div>
